@model ContosoUniversity.DAL.SalesModel.Salon
@{
	ViewBag.Title = "Edit";
}

<ul class="breadcrumb">
	<li><a href="\">Tables</a> <span class="divider">/</span></li>
	<li>@Html.ActionLink("Salons", "Index", "Salons") <span class="divider">/</span></li>
	<li class="active">Edit</li>
</ul>

@using (Html.BeginForm("Create", "Salons", FormMethod.Post, new { @class = "form-horizontal" })) {
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>Salon</legend>

			@Html.Partial("_CreateOrEdit", Model)

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Save" class="btn btn-success" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
			</div>
		</div>
	</fieldset>
}
